# name: depoly to github-page
# on:
#   push:
#     branches:
#       - master
# jobs:
#   build-and-deploy:
#     strategy:
#       matrix:
#         node-version: [16.x]
#         # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@master

#       - name: Use Node.js ${{ matrix.node-version }}
#         uses: actions/setup-node@v2
#         with:
#           node-version: ${{ matrix.node-version }}
#           cache: 'npm'

#       - run: npm install
#       - run: npm run build
#       - run: echo 'build completed'

#       - name: Deploy to GitHub Pages
#         uses: JamesIves/github-pages-deploy-action@4.1.5
#         with:
#           branch: gh-pages # The branch the action should deploy to.
#           folder: dist # The folder the action should deploy.

#       - run: echo 'all completed'
# version 2
name: depoly to github-page
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: unpackage/dist/build/h5 # The folder the action should deploy.

      - run: echo 'all completed'